.square{
  background: white ;
  border: 5px solid;
  height: 150px;
  width: 1fr;
}
.squaremain{
  border: 5px solid;
  height: 390px;
  width: 1fr;
}
.squarebottom{
  border: 5px solid;
  height: 390px;
  width: 1fr;
}
.img_bat{
  width: 100%;
}
.squareIndex3{
  border: 5px solid;
  height: 300px;
  width: 1fr;
}
